{%template "header"%}

<div class="container-fluid py-4"> 
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary  border rounded-3">
          <h2>扫描</h2>
          <p>扫描并下载文件</p>
          <a class="btn btn-primary" href="/serv/scan" type="button">扫描</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>打印</h2>
          <p>上传文件进行打印,支持pdf,jpg,png打印</p>
          <button class="btn btn-primary" type="button">上传并打印</button>
        </div>
      </div>
    </div>
</div>

    <div class="container-fluid py-4"> 
        <div class="row align-items-md-stretch">
          <div class="col-md-12">
            <div class="h-100 p-5 bg-body-tertiary  border rounded-3">
              <h2>文件管理</h2>
              <p>管理上传和扫描的文件</p>
              <a class="btn btn-primary" href="/fileman/view" type="button">打开</a >
            </div>
          </div>
        </div>
{%template "footer"%}